@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Fredoka", sans-serif;
}

.dark1 {
  background-color: #0d1821;
}

.dark2 {
  background-color: #365bc2;
}

.lightBlue {
  background-color: #b4cded;
}

.babyPowder {
  background: #f0f4ef;
}

.sage {
  background-color: #bfcc94;
}
